.titleContainer {
  overflow: hidden;
  //line-height: 125%;

  .title {
    display: inline-block;
    transform: translateY(-150%);

    @keyframes slideAnim {
      from {
        transform: translateY(-150%);
      }
      to {
        transform: translateY(0);
      }
    }
  }
}
