@import '@/index.scss';

.devToolsModal {
  display: flex;
  align-items: center;
  flex-direction: column;
  //min-height: 500px;
  padding: 30px !important;
  max-width: 400px;

  .titleContainer {
    line-height: 100%;

    .title span {
      @include circlesText;
    }
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    row-gap: 15px;
    margin-top: 15px;

    .inputsContainer {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      //display: grid;
      //grid-template-columns: 1fr 1fr;
      //grid-template-rows: 1fr 1;
      //gap: 15px;
      //column-gap: 30px;

      .checkBoxContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        //column-gap: 15px;
        gap: 0;
        padding-block: 15px;
        border-bottom: 2px solid var(--background-ui);

        &:nth-last-child(1) {
          border: none;
        }
      }
    }

    .navigateContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
  }
}
